table {
    border-collapse: collapse;
    margin: 0;
}

td, th {
    border: none;
    padding: 5px 10px;
}
body{
    background-image: url("../top-view-coffee-beans-mockup/closeup-shot-fresh-coffee-beans-coffee-texture.jpg");
}